fieldset{
    border-width: 20px;
    border-color: gold;
    width: 30vw;
    margin-left: 60vh;

}
legend{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
